button {
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(252, 20, 182);
    border: 1px solid rgb(255, 5, 188);
    cursor: pointer;
    margin-top: 20px;
}
.box{
    width: 200px;
    height: 200px;
    margin: 30px 100px;
    border: 1px solid rgb(252, 199, 234);
    background-color: rgb(254, 229, 247);
}
.circle{
    width: 120px;
    height: 120px;
    margin: 30px 40px;
    border-radius: 50%;
    border: 1px solid pink;
    background-color: rgb(253, 101, 202);
}